<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    "cssmainpage" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="title">Web Surfer<div id="login">login<br/>password<br/>register</div></div>
<div id="temp">
<div id="blank"></div>
<div id="sidebar"></div>
<div id="main"><div id="news"><%= yield %></div></div>
<div id="tools">tool #1<br/>tool #2<br/>tool #3<br/>tool #4<br/></div>
<div id="footer">News Previous/Next</div>


</body>
</html>
